*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  background-image: url(../img/bg-img.png);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
}
.header-menu {
  display: flex;
  /*position: relative;*/
  align-content: center;
  justify-content: space-between;
  /*position: absolute;*/
  min-width: 1366px;
  max-width: 1366px;
  min-height: 58px;
  margin-left: 0px;
  margin-top: 0px;
  background: rgba(0, 0, 0, 0.4);
}
.journey {
  display: flex;
  /*position: absolute;*/
  width: 157px;
  height: 22px;
  margin-left: 79px;
  margin-top: 18px;
  /*z-index: +1;*/

  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 22px;
  align-items: center;

  color: #ffffff;
}
.menu-icons {
  display: flex;
  align-content: center;
  margin-left: 704px;
  margin-top: 17px;
  justify-content: space-between;
}
.calendar {
  display: flex;
  margin: 0px 27px 0px 0px;
}
.mail {
  display: flex;
  margin: 0px 24px 0px 0px;
  align-content: center;
}
.compass {
  display: flex;
  align-content: center;
  margin: 0px 25px 0px 0px;
  padding-right: 0px;
  /*border-right: 1px solid rgba(255, 255, 255, 0.9);*/
}
.line {
  display: flex;
  width: 1px;
  height: 19px;
  color: rgba(255, 255, 255, 0.9);
  background-color: rgba(255, 255, 255, 0.9);
  mix-blend-mode: normal;
  opacity: 0.5;
  margin: 0;
  align-content: center;
  padding: 0px;
}

.welcome-log-in {
  display: flex;
  align-items: center;
  min-width: 108px;
  height: 22px;
  /*margin-left: 1111px;*/
  margin-top: 18px;
  margin-right: 0;
  justify-content: space-evenly;

  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  margin-left: 27px;
  padding-left: 0px;
  text-decoration: none;

  color: #ffffff;
}
.or-sign-up {
  min-width: 68px;
  height: 14px;
  /*margin-right: 79px;*/
  margin-right: auto;
  margin-left: 0px;
  margin-top: 22px;

  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;

  display: flex;
  align-items: center;

  color: #ffffff;
  text-decoration: none;
  justify-content: space-evenly;
}
.journey:hover {
  color: #01813f;
}
.log-in:hover {
  color: #01813f;
}
.sign-up:hover {
  color: #01813f;
}
.container {
    display: flex;
    flex-shrink: inherit;
    margin-top: 54px;
    margin-left: 461px;
    margin-right: 0;
    padding: 0px;
    width: 444px;
    height: 584px;
    background: #FFFFFF;
box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
}
.sign-up-form {
  display: flex;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 31px;
  margin-bottom: 0px;
  width: 100%;
  padding-right: 60px;
  height: 20px;
  padding-left: 61px;
  background: #ffffff;

}
.sign-up-in-form {
  display: flex;
  flex-shrink: inherit;
  width: 69px;
  height: 14px;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 214px;
  padding: 0px;

  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
  justify-content: center;

  color: #434343;
}
.log-in-in-form {
  display: flex;
  flex-shrink: inherit;
  width: 39px;
  height: 14px;
  margin-right: 0px;
  margin-top: 3px;
  margin-left: 0;
  padding-right: 0px;
  padding-top: 0px;

  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;

  color: #3cb878;
}
.bottom-links {
  display: flex;
  flex-shrink: inherit;
  margin-top: 60px;
  width: 324px;
  height: 48px;
  padding: 0px;
  margin-left: -380px;
  padding-left: 0px;
  margin-right: 59px;
}
.facebook-link {
  display: flex;
  text-decoration: none;
  margin-left: 0px;
  margin-right: 4px;
  margin-top: 0px;
  background: #305db8;
  width: 160px;
  height: 48px;
}
.facebook-img {
  display: flex;
  /*position: absolute;*/
  margin-left: 16.7px;
  margin-top: 12px;
  margin-right: 18.77;
  margin-bottom: 12px;
  /*border-right: 1px solid #0A162F;*/
  /*justify-content: center;
  align-content: center;*/
}
.f-line {
  display: flex;
  align-content: center;
  width: 1px;
  height: 28px;
  margin-left: 18.77px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 0px;
  background: #0a162f;
  mix-blend-mode: normal;
  opacity: 0.1;
}
.google-link {
  display: flex;
  /*justify-content: center;
  /*position: absolute;*/
  text-decoration: none;
  background: #df4a32;
  width: 160px;
  height: 48px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.facebook-text-block-f {
  display: flex;
  margin-left: 18px;
  margin-top: 17px;
  margin-right: 22px;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;

  color: #ffffff;
}
.facebook-text-block-g {
  display: flex;
  margin-left: 30px;
  margin-right: 27px;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
}
.google-img {
  display: flex;
  /*position: absolute;*/
  margin-left: 12px;
  margin-top: 15px;
  margin-right: 18.77;
  margin-bottom: 12px;
  /*border-right: 1px solid #0A162F;*/
  justify-content: center;
  align-content: center;
}
.g-line {
  display: flex;
  /*position: absolute;*/
  align-content: center;
  width: 1px;
  height: 28px;
  margin-top: 10px;
  margin-left: 7px;
  margin-bottom: 10px;
  background: #0a162f;
  mix-blend-mode: normal;
  opacity: 0.1;
  /*position: absolute;*/
}


.form-lines {
  display: flex;
  flex-shrink: inherit;
  /*position: absolute;*/
  flex-direction: column;
  margin-top: 148px;
  width: 330px;
  margin-left: -380px;
}
.fieldset {
    display: flex;
    flex-direction: column;
    border-top-color: #f2f2f2;
    height: 60%;
    width: 100%;
    /*margin-top: 148px;*/
    margin-left: 0px;
  }
input {
  height: 46px;
}
.checkbox {
  height: 20px;
}
